.tableContainer {
    padding: 50px 160px 100px 160px;
}

.tableContainerTitle {
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

.table {
    display: grid;
    grid-template-columns: minmax(0, 1120px);
    grid-template-rows: 56px 239px 382px;
    row-gap: 20px;
    justify-content: center;
}

.tableTitle {
    display: grid;
    grid-template-columns: 163px minmax(180px, 286px) minmax(290px, 320px) 187px 164px;
    align-items: center;
    background-color: var(--darkblue);
}

.tableTitleItem {
    color: var(--white);
}

.tableTitleItem:first-child {
    padding-left: 20px;
}

.tableTitleItem:nth-child(2) {
    padding-left: 30px;
}

.tableTitleItem:nth-child(3) {
    padding-left: 30px;
}

/*  */
.tableOilAi,
.tableOilDt {
    display: grid;
    grid-template-columns: 163px minmax(180px, 286px) minmax(641px, 671px);
}

.tableOilAiTitle,
.tableOilDtTitle {
    padding: 16px 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    background-color: var(--blue);
    color: var(--white);
}

.tableOilAiStandardE5,
.tableOilAiStandardE3,
.tableOilDtTitleNameE5 {
    height: 143px;
    padding: 16px 30px;
    border: 1px solid var(--grayE7);
}

.tableOilAiStandardE4,
.tableOilDtTitleNameE4 {
    height: 96px;
    padding: 16px 30px;
    border: 1px solid var(--grayE7);
    border-top: none;
}

.tableOilAiDesc,
.tableOilDtTitleDesc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tableOilAiDescInfo,
.tableOilDtTitleDescInfo {
    display: grid;
    grid-template-columns: 320px 187px 164px;
    justify-items: start;
    align-items: center;
    border-bottom: 1px solid var(--grayE7);
    border-right: 1px solid var(--grayE7);
}

.tableOilAiDescInfo:first-child,
.tableOilDtTitleDescInfo:first-child {
    border-top: 1px solid var(--grayE7);
}

.tableOilAiDescInfoText:first-child,
.tableOilDtTitleDescInfoText:first-child {
    padding: 15px 0 15px 30px;
}

.tableOilAiStandardE4 {
    border-bottom: none;
}

@media(max-width: 1335px) {
    .tableContainer {
        padding: 50px 25px 100px 25px;
    }
}

@media(max-width: 1040px) {
    .tableContainer {
        display: none;
    }
}